POSTGRES_DB=mitecnico_db

POSTGRES_USER=mitecnico

POSTGRES_PASSWORD=mitecnico

POSTGRES_PORT=5432

DB_HOST=db

DB_PORT=5432

DJANGO_PORT=8000

DJANGO_DEBUG=True

DJANGO_SECRET_KEY=mitecnico123

FRONTEND_PORT=5173