# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# React
node_modules/
dist/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db